.economy {
  color: white;
  background-color: #43aa8b;
}
.vip {
  color: white;
  background-color: #ff820e;
  box-shadow: 3px 4px gray;
}
.tokhmi {
  color: white;
  background-color: #230e7e;
  box-shadow: 3px 3px gray;
}